
MMB/
EA_QUEST3/EA_QUEST3_rep/EA_Quest3_rep/Output/EA_Quest3_rep_results.mat
EA_QUEST3/EA_QUEST3_rep/EA_Quest3_rep/graphs/EA_Quest3_rep_IRF_E_EPS_M2.eps
EA_QUEST3/EA_QUEST3_rep/EA_Quest3_rep/graphs/EA_Quest3_rep_IRF_E_EPS_M1.eps
EA_QUEST3/EA_QUEST3_rep/EA_Quest3_rep/graphs/EA_Quest3_rep_IRF_E_EPS_G2.eps
EA_QUEST3/EA_QUEST3_rep/EA_Quest3_rep/graphs/EA_Quest3_rep_IRF_E_EPS_G1.eps
EA_QUEST3/EA_QUEST3_rep/EA_Quest3_rep/graphs/EA_Quest3_rep_IRF_E_EPS_C2.eps
EA_QUEST3/EA_QUEST3_rep/EA_Quest3_rep/graphs/EA_Quest3_rep_IRF_E_EPS_C1.eps
EA_QUEST3/EA_QUEST3_rep/EA_Quest3_rep/checksum
EA_QUEST3/EA_QUEST3_rep/EA_Quest3_rep.log
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/static_resid_tt.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/static_resid_g1_g2_g3.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/static_resid_g1_g2.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/static_resid_g1.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/static_resid.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/static_g3_tt.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/static_g3.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/static_g2_tt.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/static_g2.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/static_g1_tt.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/static_g1.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/static.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/set_auxiliary_variables.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/dynamic_set_auxiliary_series.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/dynamic_resid_tt.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/dynamic_resid_g1_g2_g3.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/dynamic_resid_g1_g2.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/dynamic_resid_g1.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/dynamic_resid.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/dynamic_g3_tt.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/dynamic_g3.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/dynamic_g2_tt.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/dynamic_g2.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/dynamic_g1_tt.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/dynamic_g1_nz.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/dynamic_g1.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/dynamic.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep/driver.m
References/Literature/Ratto et al. 2008 - Appendices/Ratto et al. 2008 - Appendix 2.doc
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/driver.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/dynamic.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/dynamic_g1.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/dynamic_g1_nz.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/dynamic_g1_tt.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/dynamic_g2.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/dynamic_g2_tt.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/dynamic_g3.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/dynamic_g3_tt.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/dynamic_resid.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/dynamic_resid_g1.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/dynamic_resid_g1_g2.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/dynamic_resid_g1_g2_g3.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/dynamic_resid_tt.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/dynamic_set_auxiliary_series.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/set_auxiliary_variables.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/static.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/static_g1.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/static_g1_tt.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/static_g2.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/static_g2_tt.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/static_g3.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/static_g3_tt.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/static_resid.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/static_resid_g1.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/static_resid_g1_g2.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/static_resid_g1_g2_g3.m
EA_QUEST3/EA_QUEST3_rep/+EA_Quest3_rep_rand/static_resid_tt.m
EA_QUEST3/EA_QUEST3_rep/EA_Quest3_rep_rand.log
EA_QUEST3/EA_QUEST3_rep/EA_Quest3_rep_rand/checksum
EA_QUEST3/EA_QUEST3_rep/EA_Quest3_rep_rand/Output/EA_Quest3_rep_rand_results.mat
References/Literature/Ratto et al. 2008 - Appendices/Ratto et al. 2008 - Appendix 1.doc
References/Literature/Ratto et al. 2008 - Appendices/Ratto et al. 2008 - Appendix 3.doc
References/Literature/Ratto et al. 2008 - Appendices/Ratto et al. 2008 - Appendix 4.doc
References/Literature/Ratto et al. 2008 - Appendices/Ratto et al. 2008 - Appendix 5.doc
References/Literature/Ratto et al. 2008 - Appendices/Ratto et al. 2008 - Appendix 6.doc
